* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  width: 70%;
  margin: auto;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.highlighted {
  color: #0282f9;
}

header .pre-header {
  background-color: #0282f9;
}
header .pre-header .container .pre-header-wrapper {
  display: flex;
  justify-content: flex-end;
  color: white;
  padding: 5px 0;
}
header .pre-header .container .pre-header-wrapper div {
  margin-left: 60px;
  font-size: 10px;
}
header .menus .container .menus-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}
header .menus .container .menus-wrapper .dc-logo {
  width: 80px;
}
header .menus .container .menus-wrapper .menu nav ul {
  text-transform: uppercase;
  color: #1c1c1c;
  display: flex;
}
header .menus .container .menus-wrapper .menu nav ul li {
  font-weight: bold;
  margin: 0 20px;
  font-size: 12px;
}
header .menus .container .menus-wrapper .menu nav ul .current {
  color: #0282f9;
  border-bottom: 2px solid #0282f9;
}
header .menus .container .menus-wrapper .search {
  color: #1c1c1c;
  border-bottom: 1px solid #0282f9;
}
header .menus .container .menus-wrapper .search input {
  text-align: right;
  border: none;
  font-weight: bold;
  width: 100px;
}
header .jumbotron img {
  height: 350px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main {
  background-color: #1c1c1c;
}
main .comics .current-series {
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0282f9;
  display: inline-block;
  padding: 10px 20px;
  position: relative;
  left: 0;
  bottom: 30px;
}
main .comics .comics-list {
  display: flex;
  flex-wrap: wrap;
}
main .comics .comics-list .single-comic {
  width: calc(16.6666666667% - 30px);
  margin: 15px;
  cursor: pointer;
}
main .comics .comics-list .single-comic .comic-image {
  height: 150px;
  overflow: hidden;
}
main .comics .comics-list .single-comic .comic-name {
  text-transform: uppercase;
  color: white;
  font-size: 12px;
  margin: 20px 0;
}
main .comics .load-more {
  text-align: center;
  margin: 15px 0;
}
main .comics .load-more a {
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  background-color: #0282f9;
  padding: 8px 50px;
}

footer .pre-footer {
  background-color: #0282f9;
}
footer .pre-footer .container .pre-footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}
footer .pre-footer .container .pre-footer-wrapper .single-section {
  display: flex;
  align-items: center;
}
footer .pre-footer .container .pre-footer-wrapper .single-section .icon {
  width: 35px;
}
footer .pre-footer .container .pre-footer-wrapper .single-section .text {
  text-transform: uppercase;
  color: white;
  margin-left: 15px;
  font-size: 12px;
}
footer .footer-links {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
footer .footer-links .container .footer-links-wrapper {
  padding: 40px 0;
}
footer .footer-links .container .footer-links-wrapper .links-wrapper {
  display: flex;
}
footer .footer-links .container .footer-links-wrapper .links-wrapper .dc-comics-shop-links .shop-links {
  margin-top: 30px;
  margin-right: 20px;
}
footer .footer-links .container .footer-links-wrapper .links-wrapper h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: white;
}
footer .footer-links .container .footer-links-wrapper .links-wrapper ul {
  margin-top: 20px;
}
footer .footer-links .container .footer-links-wrapper .links-wrapper ul li {
  color: grey;
  font-size: 12px;
  margin: 5px 0;
}
footer .footer-links .container .footer-links-wrapper .links-wrapper > div {
  margin-right: 20px;
}
footer .footer-links .container .footer-links-wrapper .copyright {
  font-size: 12px;
  color: grey;
  margin-top: 30px;
}
footer .sign-up-socials {
  background-color: #303030;
  padding: 40px 0;
}
footer .sign-up-socials .container .sign-up-socials-wrapper {
  display: flex;
  justify-content: space-between;
}
footer .sign-up-socials .container .sign-up-socials-wrapper .sign-up a {
  color: white;
  text-transform: uppercase;
  border: 2px solid #0282f9;
  padding: 8px 12px;
}
footer .sign-up-socials .container .sign-up-socials-wrapper .socials {
  display: flex;
  align-items: center;
}
footer .sign-up-socials .container .sign-up-socials-wrapper .socials .follow-us {
  font-size: 16px;
  text-transform: uppercase;
  color: #0282f9;
  font-weight: bold;
  margin-right: 20px;
}
footer .sign-up-socials .container .sign-up-socials-wrapper .socials .social-icons ul {
  display: flex;
}
footer .sign-up-socials .container .sign-up-socials-wrapper .socials .social-icons ul li {
  width: 30px;
  height: 30px;
  background-color: grey;
  margin: 0 10px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: #303030;
}