header {
    .pre-header {
        background-color: $page_secondary_color;
        .container {
            .pre-header-wrapper {
                display: flex;
                justify-content: flex-end;
                color: white;
                padding: 5px 0;

                & div {
                    margin-left: 60px;
                }
            }
        }
    }

    .menus {
        .container {
            .menus-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 15px 0;

                .dc-logo {
                    width: 80px;
                }

                .menu {
                    nav {
                        ul {
                            text-transform: uppercase;
                            color: $page_primary_color;
                            display: flex;

                            li {
                                font-weight: bold;
                                margin: 0 10px;
                            }
                        }
                    }
                }

                .search {
                    color: $page_primary_color;
                    
                    input {
                        text-align: right;
                    }
                }
            }
        }
    }

    .jumbotron {
        img {
            height: 350px;
            width: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
}