main {
    
    &.comics-background {
        background-color: #1c1c1c;
    }

    &.comic-intro-background {
        background-color: $page_secondary_color;
    }

    &.comic-main-description {
        background-color: white;
    }

    &.comic-footer-info {
        background-color: #f6f6f6;
    }

    .comics {
        .current-series {
            color: white;
            font-size: 22px;
            text-transform: uppercase;
            font-weight: bold;
            background-color: $page_secondary_color;
            display: inline-block;
            padding: 10px 20px;
            position: relative;
            left: 0;
            bottom: 30px;
        }

        .comics-list {
            display: flex;
            flex-wrap: wrap;

            .single-comic {
                width: calc( (100% / 6) - 30px);
                margin: 15px;
                cursor: pointer;

                .comic-image {
                    height: 150px;
                    overflow: hidden;
                }

                .comic-name {
                    text-transform: uppercase;
                    color: white;
                    font-size: 12px;
                    margin:  20px 0;
                }
            }
        }

        .load-more {
            text-align: center;
            margin: 15px 0;

            a {
                color: white;
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
                background-color: $page_secondary_color;
                padding: 8px 50px;
            }
        }
    }

    .single-comic-detail {
        .blue-line {
            background-color: $page_secondary_color;
            height: 100px;
        }

        .container {
            .comic-intro {
                position: absolute;
                left: 230px;
                bottom: 180px;
                border: 2px solid white;

                .comic-book-target {
                    position: absolute;
                    top: 0;
                    left: 0;
                    color: white;
                    background-color: #00a9d9;
                    text-transform: uppercase;
                    padding: 2px 5px;
                }

                .view-gallery-target {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: white;
                    background-color: #00a9d9;
                    text-transform: uppercase;
                    padding: 2px 5px;
                    width: 100%;
                    text-align: center;
                }
            }
            .comic-main-description {
                display: flex;
                justify-content: space-between;
                padding: 50px 0;

                .left-comic {
                    .comic-title {
                        text-transform: uppercase;
                        color: #003f5e;
                    }

                    .comic-buy {
                        display: flex;
                        background-color: #55ba59;
                        color: white;
                        width: 700px;
                        justify-content: space-between;
                        padding: 15px 20px;
                        margin: 20px 0;

                        .availability {
                            text-transform: uppercase;
                        }
                    }

                    .comic-description {
                        width: 700px;
                        font-size: 14px;
                        line-height: 25px;
                        color: grey;
                    }
                }

                .right-comic {
                    .ads-text {
                        text-transform: uppercase;
                        text-align: right;
                        font-size: 14px;
                        color: grey;
                        font-weight: bold;
                        margin-bottom: 5px;
                    }
                }
            }

            .comic-footer-info {
                display: flex;
                background-color: #f6f6f6;

                .talent {
                    width: calc( (100% / 2) - 40px);
                    margin: 0 20px;
                    .title {
                        font-size: 18px;
                        font-weight: bold;
                        color: #064161;
                    }
                    .art-by,
                    .written-by {
                        display: flex;
                        justify-content: space-between;
                        
                        .label {
                            color: #064161;
                        }
                    }
                }

                .specs {
                    width: calc( (100% / 2) - 40px);
                    margin: 0 20px;
                    .title {
                        font-size: 18px;
                        font-weight: bold;
                        color: #064161;
                    }
                    .series,
                    .price,
                    .sale {
                        display: flex;
                        justify-content: space-between;

                        .label {
                            color: #064161;
                        }
                    }
                }
            }
        }
    }
}